* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 120px 40px 1fr 1fr 1fr 1fr 1fr 1fr 120px;
    grid-template-columns: 1fr;
    height: 100vh;
}

header {
    background-color: #FCFBF6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 40px;
    align-items: center;
}

.logo {
    width: 115px;
}

.iconesDeUsuario {
    width: 25px;
    padding-left: 10px;
}

.conjuntosIcone {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 70px;
}

