* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 120px 40px 1fr 1fr 1fr 1fr 1fr 1fr 120px;
  grid-template-columns: 1fr;
  height: 100vh;
}

/* Header */
header {
  background-color: #fcfbf6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 40px;
  align-items: center;
}

.logo {
  width: 115px;
}

.iconesDeUsuario {
  width: 25px;
  padding-left: 10px;
}

.conjuntosIcone {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 70px;
}


/* Main */
main {
    grid-row: 3/9;
    display: grid;
    
}

/* Seção Como Funciona? */
.secaoComoFunciona {
    grid-row: 5/6;
    grid-column: 1/ -1;
    background-color: #D7E3EF;
    display: flex;
    align-items: center;
    height: 750px;
}

.comoFuncionaEsquerdo {
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
}

.comoFuncionaEsquerdo h3 {
    margin-bottom: 94px;
}

.comoFuncionaEsquerdo p {
    margin-bottom: 65px;
    margin-top: -87px;
}

.comoFuncionaDireito {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 150px;
}

.comoFuncionaDireito h1 {
    margin-bottom: 24px;
    
}


.imgComofunciona{
    height: 524px;
    margin-bottom: 25px;

}

/* Seção Frutas e Verduras */
.secaoFrutas {
  grid-row: 6/7;
  height: 750px;
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
}

.centralizFrutas{
  display: flex;
  justify-content: center;
  position: relative;
}
.imagemFrutas {
  width: 755px;
  height: 750px;
}

.imagemVerduras {
  width: 755px;
  height: 750px;
}

.textoFrutasVerduras {
  position: absolute;
}

.textoFrutasVerduras h1:nth-of-type(1){
  color: #582F19;
  padding: 10px 10px;
  background-color: #fcfbf6;
  border: 4px solid #fcfbf6;
  border-radius: 35px;
  box-shadow: 5px 7px 1px 2px #5f6340;
  margin: 99px 846px 17px 12px;
}
.textoFrutasVerduras h1:nth-of-type(2){
  color: #582F19;
  padding: 25px 10px;
  background-color: #fcfbf6;
  border: 4px solid #fcfbf6;
  border-radius: 35px;
  box-shadow: 5px 7px 1px 2px #5f6340;
  margin: 330px 23px 18px 824px;
}

.secaoFrutas button {
  position: absolute;
  margin: 651px 10px 23px 1300px;
  padding: 10px 10px;
  background-color: #fcfbf6;
}

.secaoFrutas a {
  color: #582f19;
  font-size: 17px;
  font-weight: bold;
}

/* Footer */
footer {
    grid-row: 9/-1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #582F19;
    background-color: #FCFBF6;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  color: #582f19;
}

.secaoInicial {
  grid-row: 3/4;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.imagemDoMercado {
  width: 100%;
}


.secaoSupermercado {
  grid-row: 4/5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin: 100px 200px 100px 200px;
}

.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: #fcfbf6;
  color: #582F19;
}
p.preco {
    font-weight: bold;
    padding: 5px
}

button.botaoAdicionar {
background-color: #5F6340;
padding: 5px;
color: #fcfbf6;
font-weight: bold;
}
